= form_for @user, url: pki_sessions_path, html: {class: 'form-signin'} do |f|
  = render 'depp/shared/errors', object: f.object
  .btn-group{style: 'margin-bottom: 10px; width: 100%;'}
    %a.btn.btn-default.active{href: login_pki_path, style: 'width: 33%'}= t('pki')
    %a.btn.btn-default.disabled{href: login_pki_path, style: 'width: 34%'}= t('id_card')
    %a.btn.btn-default.disabled{href: login_pki_path, style: 'width: 33%'}= t('m_id')

  - error_class = f.object.errors.any? ? 'has-error' : ''
  %div{class: error_class}
    = f.text_field :tag, class: 'form-control', placeholder: t('username'), autocomplete: 'off'
    = f.password_field :password, class: 'form-control', placeholder: t('password')
  %button.btn.btn-lg.btn-primary.btn-block{:type => 'submit'}= t('log_in')
